# chain
RPC_URL=
CHAIN_ID=
PRIVATE_KEY=
SIGNER_PRIVATE_KEY=

# contract
POLKAQUEST_CONTRACT_ADDRESS=
REWARD_TOKEN_ADDRESS=

# database
DATABASE_URL="file:./dev.db"

# api
PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3001

# frontend
NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_POLKAQUEST_ADDRESS=
NEXT_PUBLIC_REWARD_TOKEN_ADDRESS=